<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Apartat1</servlet-name>
        <servlet-class>m2uf2ex2.Apartat1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prova</servlet-name>
        <servlet-class>m2uf2ex2.prova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apartat2</servlet-name>
        <servlet-class>m2uf2ex2.Apartat2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationform</servlet-name>
        <servlet-class>m2uf2ex2.Registrationform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showreferers</servlet-name>
        <servlet-class>m2uf2ex2.showreferers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowItems</servlet-name>
        <servlet-class>m2uf2ex2.ShowItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apartat1</servlet-name>
        <url-pattern>/Apartat1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prova</servlet-name>
        <url-pattern>/prova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apartat2</servlet-name>
        <url-pattern>/Apartat2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationform</servlet-name>
        <url-pattern>/Registrationform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showreferers</servlet-name>
        <url-pattern>/showreferers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowItems</servlet-name>
        <url-pattern>/ShowItems</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
